body{
color:#ffffff
}
/* choices basic format */
.choice-container{
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 5px;
    background: rgb(51, 51, 159);
    font-size:3rem;
    min-width: 80rem;

}

/* hover transform */
.choice-container:hover{
cursor: pointer;
box-shadow: 0 0.4rem 1.4rem 0 rgb(115, 38, 186);
transform: transform 100ms;
transform: scale(1.02);
}

/* size of the choices */
.choice-prefix {
padding: 2rem 2.5rem;
color:#ffffff
}

.choice-text{
padding:2rem;
width:100%
}

.correct{
background: rgb(22, 194, 22)
}

.incorrect{
    background: #bd1717
    }
/* bring the choices to the top */
#hud{
display: flex;
justify-content: space-between
}

.hud-prefix{
    display: flex;
text-align: center;
font-size: 2rem;
}
/* inside text of the content */
.hud-main-text{
text-align: center;
}
/* score board */
#progressBar{
width: 20rem;
height: 3rem;
border:0.2rem solid greenyellow;
margin-top: 2rem;
border-radius: 50px;
overflow: hidden;
}

#progressBarFull {
height: 100%;
background: green;
width:0%;
}
/* choices container resizing */
@media screen and (max-width: 750px) {
.choice-container{
min-width: 40rem;
}
}